.piece {
    display: inline-block;
    font-size: 15px;
    padding: 0;
    margin: 5px;
}
.live {
    height: 100%;
    margin: 0;
}

.square .piece {
    border: 3px solid black;
}
.square.black-square .piece {
    border: 3px solid black;
}

.image {
    width: 100%;
    height: 100%;
}

.infoPieces .killed {
    background-color: #ff0000;
    content: 'X';
    z-index: 1000;
}

.infoPieces .live {
    background-color: #00ff00;
}